body {
  font-family: Helvetica, sans-serif;
  color: $color-black;
}

.secondary-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.tertiary-heading {
  color: $color-yellow;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 2rem;
}