.main {

  .section__bikes {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    @include respond(tab-port) {
      width: 80%;
    }
  }

  &__img {
    @include img-default;
    margin-bottom: 1rem;
  }

  &__figcap {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $color-black;
    margin-bottom: 5rem;
  }
}

.section__info {
  background-color: $color-background;
  display: flex;
  justify-content: center;

  .info-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.text-box {
  margin: 2rem 0 0 1.5rem;
  
  &.text:not(:last-child) {
    margin-bottom: 0;
  }

  .text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
}