.main {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    height: auto;
  }

  &__figcap {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $color-black;
    margin-bottom: 5rem;
  }
}